@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/swiper/swiper.css";
@import "../../node_modules/swiper/swiper-bundle.css";

// Customize some defaults

$font-family-sans-serif: "Satoshi-Variable", "Satoshi-VariableItalic",
  sans-serif;
$body-color: #212121;
$body-bg: #f9f8f1;
$border-radius: 0.4rem;
$success: #28a745;
$primary: #0b3721;
$shadow-sm: 0px 0 1px rgba(0, 0, 0, 0.05);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
) !default;

// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

section {
  padding: 70px 0;
  margin: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.btn {
  margin: 50px 0;
  padding: 14px 36px;
  border-radius: 7px;
}

.hero-section {
  text-align: center;
  .hero-section-title {
    font-weight: 500;
    max-width: 975px;
    margin: 0 auto;
    h1 {
      font-size: 68px;
    }
  }
  .hero-section-description {
    max-width: 428px;
    margin: 20px auto;
  }
  .hero-section-image {
    img {
      width: 100%;
    }
  }
}
.brands-section {
  background: #f2f1e8;
  text-align: center;
  padding: 50px 0;
  .brands-section-description {
    font-size: 21px;
    margin-bottom: 50px;
  }
  .brands-section-list {
    width: 100%;
    .brand {
      margin: 10px 0;
      img {
        margin: auto;
        width: 50%;
      }
    }
  }
}
.feature-section {
  text-align: center;
  .base-card {
    margin: 70px 0;
    .card-body {
      text-align: start;
      .card-title {
        margin: 15px 0;
      }
    }
  }
}
.testimionial-section {
  color: white;
  padding: 60px 0;
  .testimionial-text {
    font-size: 36.4px;
    font-weight: 300;
  }
  .author-name {
    font-size: 15px;
    font-weight: 200;
  }
  .testimonial-author-img {
    width: 100%;
    max-width: 320px;
  }
}
.bento-card-section {
  .bento-title {
    margin-bottom: 50px;
  }
  .card {
    background: white;
    width: 100%;
    min-height: 240px;
    padding: 50px;
    margin-bottom: 20px;
    .card-title {
      margin: 15px 0;
      font-weight: 400;
      font-size: 18.9px;
    }
  }
}
.cta-section {
  .cta-section-titles {
    color: #74746a;
    font-weight: 200;
    margin-bottom: 50px;
    span {
      color: black;
    }
  }
  .cta-section-card {
    .card-second {
      background: #f2f1e8 !important;
    }
    .card {
      background: white;
      width: 100%;
      min-height: 240px;
      padding: 50px;
      margin-bottom: 20px;
      &:first-child {
        background: white;
      }
      a {
        width: 100%;
      }
      .card-title {
        margin: 25px 0;
        font-weight: 400;
        font-size: 18.9px;
      }
      .card-link {
        margin-top: 50px;
        a {
          text-decoration: none;
          padding: 15px;
          background: $primary;
          color: white;
        }
      }
    }
  }
}
.incentives-section {
  .incentives-text {
    text-align: center;
    margin-bottom: 40px;
  }
  .inventices-card {
    .card {
      margin-bottom: 30px;
      background: white;
      .card-body {
        padding: 40px 20px;
      }
      img {
        width: 100%;
      }
    }
  }
}
.newsletter-section {
  text-align: center;
  background: white;

  .newsletter-title {
    max-width: 384px;
    margin: 20px auto;
  }
  .newsletter-description {
    max-width: 380px;
    margin: 20px auto;
    margin-bottom: 60px;
  }
  .newsletter-card {
    padding: 50px;
    text-align: start;
    color: white;
    .newsletter-card-title {
      font-weight: 200;
    }
    hr {
      margin-top: 0;
    }
    .newsletter-card-description {
      font-size: 22px;
      margin-bottom: 0;
      span {
        opacity: 75%;
      }
    }
    .newsletter-input-part {
      width: 100%;
      .newsletter-input {
        min-width: 414px;
        padding: 15px 10px;
        margin-top: 20px;
        margin-right: 10px;
        border-radius: 8px;
        border: none;
        background: rgba(255, 255, 255, 0.16) !important;
        input {
          background: none;
        }
      }
      .newsletter-button {
        min-width: 210px;
        border-radius: 10px;
        padding: 15px 10px;
        margin-top: 20px;
      }
    }
  }
}
.testimionial-second-section {
  color: white;
  .testimionial-text {
    font-size: 36.4px;
    font-weight: 300;
  }
  .author-name {
    font-size: 15px;
    font-weight: 200;
  }
  .testimonial-author-img {
    width: 100%;
    max-width: 320px;
  }
  .testimionial-description {
    margin-top: 20px;
    font-size: 12px;
  }
}
.swiper-section {
  .swiper-description {
    padding: 0 40px;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper {
    width: 100%;
    .swiper-slide {
      width: 100%;
      align-content: center;
      .swiper-img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.newsletter-second-section {
  position: relative;
  text-align: center;
  .newsletter-section-title {
    color: white;
    font-weight: 300;
    max-width: 471px;
    margin: auto;
  }
  a {
    margin-bottom: 100px;
  }
  .newsletter-brand-logo {
    position: absolute;
    right: 50px;
    bottom: 20px;
    margin-top: 200px;
  }
}
footer {
  background: #061f13;
  padding: 60px 0;
  .footer-list {
    .footer-about-list {
      list-style: none;
      .footer-item {
        .footer-item-link {
          opacity: 50%;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .footer-description {
    padding: 30px 0;
    opacity: 30%;
    color: white;
  }
}
