@import "../../node_modules/bootstrap/scss/functions";

// Customize some defaults

$font-family-sans-serif: "Satoshi-Variable", "Satoshi-VariableItalic",
  sans-serif;
$body-color: #212121;
$body-bg: #F9F8F1;
$border-radius: 0.4rem;
$success: #28a745;
$primary: #0B3721;
$shadow-sm: 0px 0 1px rgba(0, 0, 0, 0.05);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
) !default;


// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

section {
  margin: 90px 0;
}
.container{
  text-align: center;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.btn {
  margin:50px 0;
  padding: 14px 36px;
  border-radius: 7px;
}
.hero-section{
  .hero-section-title {
    font-size: 60.9px;
    font-weight: 500;
    max-width: 873px;
    margin: 0 auto;
  }
  .hero-section-description {
    font-size: 22.7px;
    max-width: 607px;
    margin: 10px auto;
  }
  .hero-section-image{
    img{
      width: 100%;
    }
  }
}
.brands-section{
  .brands-section-description{
    font-size: 16.7px;
  }
  .brands-section-list{
    .brand{
      margin: 10px 0;
      img{
        width: 50%;
      }
    }
    @media (max-width:1200px) {
      .brand{ 
        margin: 20px 0;
      }
      
    }
  }
}